body
{
    background-color: #441;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.app
{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 70%;
    margin: auto;
}
.ad--frend
{
    /* display: flex; */
    justify-content: end;
}
.split--with--frend
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.selected
{
    background-color: #441;
}